<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("Movie Rent","Index", "Home", new {area = ""}, new { @class = "navbar-brand"})
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Rental", "New", "Rentals")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Movie", "Index", "Movies")</li>
            </ul>
            @Html.Partial("_LoginPartial")
            </div>
        </div>
</nav>
